@model ders

@{ ViewData["Title"] = "detay";
                Layout = "~/Views/shared/_Layout.cshtml"; }

<h1>Details</h1>

<p>name:  @Model.Name</p>
<p>description : @Model.description</p>
<p>isPublished: @Model.isPublished</p>